<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../static/css/secondpage.css"> 
		<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	</head>
	<body>
		<section class="secondpage">
			<img src="../static/images/about.png" alt="Smiley face" height="100%" width="65%">
			<div class="end2endav"></div>
			<div class="work"></div>
			<div class="about">
				<h2 class="title">About Us</h2>
				<hr noshade = false size = 7px width= 20% align= left style="position: fixed; background-color: black; border-width: 0px; left: 1.5%; top: 18%;" class="divider">
				<h4 class="content" style="width: 90%">BluStrings is a creation of the 21st Century, bringing in experience from different fields of science, communication and marketing; we offer a very niche end-product to our clients. We integrate our experiences in event planning and management that translates into our deliverables. Having been in the industry and sharing 18+ man-years of experience, we believe in our commitment to guarantee and deliver a successful event with seamless execution; providing a mix of professional services and creativity. We have created, managed & executed a plethora of events across the board. With a dedicated team that covers all avenues in building your project right from the ground up, we conceptualize and develop on comprehensive plans and ideas that suit your budget. Our team is with you at every step of the way.</h4>
			</div>
		</section>
		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
		<script type="text/javascript">
			$(window).on('load', function() {
				$(".secondpage").fadeIn("slow");
			});
		</script>
	</body>
</html>