<!DOCTYPE html>
<html lanh="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/particles.js') }}"></script>
	<title>Frontpage</title>
</head>
<body data-hijacking="off" data-animation="rotate">
	<section class="cd-section visible">
		<div class="intro">
			<p id="particles-js"></p>
			<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
			<p id='text'></p>
			<script type="text/javascript" src="{{ url_for('static', filename='js/text.json') }}"></script>
			<p id='logo'></p>
			<script type="text/javascript" src="{{ url_for('static', filename='js/logo.json') }}"></script>
			<p id='arrow'></p>
			<script type="text/javascript" src="{{ url_for('static', filename='js/arrow.json') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/lottie.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/logo.js') }}"></script>
		</div>
	</section>
	<section class="cd-section">
		<span><img src="{{ url_for('static', filename='images/Gallery.png') }}" id="logotop"></span>
		<div id="container">
 			<div id="tl"><img id="myImg" src="{{ url_for('static', filename='images/2.jpg') }}"></div>
 			<div id="tc"><img id="myImg1" src="{{ url_for('static', filename='images/1.jpg') }}"></div>
 			<div id="tr">
				  <video style="height:100%; width: 100%;" controls>
				    <source src="{{ url_for('static', filename='images/Lost X Zaeden.mp4') }}" type="video/mp4">
				  </video>
    		</div>
 			<div id="ml"><img id="myImg2" src="{{ url_for('static', filename='images/4.jpeg') }}"></div>
 			<div id="mc"><img id="myImg3" src="{{ url_for('static', filename='images/5.jpeg') }}"></div>
 			<div id="mr"><img id="myImg4" src="{{ url_for('static', filename='images/6.jpg') }}"></div>
 			<div id="bl"><img id="myImg5" src="{{ url_for('static', filename='images/7.jpeg') }}"></div>
 			<div id="bc"><img id="myImg6" src="{{ url_for('static', filename='images/8.jpeg') }}"></div>
 			<div id="br"><img id="myImg7" src="{{ url_for('static', filename='images/9.jpeg') }}"></div>	
		</div>
		<div id="myModal" class="modal">
			<span class="close">&times;</span>
			<img class="modal-content" id="img01">
		</div>
		<script type="text/javascript" src="{{ url_for('static', filename='js/modal-images.js') }}"></script>
	</section>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/velocity.ui.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>