.cont {
    min-height: 103vh; /* EDIT 1 (Changed value of min-height)*/
    background-image: url('../images/bg6.jpg'); /*EDIT 2 (New Background, check in images folder)*/
}

.map-container {
    height: 103vh;  /* EDIT 3 (Changed property and value of min-height to height )*/
    width: 50%;
    display: inline-block;
}

#gmap-canvas {
    width: 100%;
    height: 100%; /* EDIT 4 (Changed value of height to 100%)*/
}

.contact-head {
    float: left;
    margin-left: 5%;
    font-size: 36px;
}


.contact-container {
    height: 680px;
    width: 49%;
    display: inline-block;
    position: absolute;
    /*top: 50%;*/
    /*margin-top: -340px;*/
    /* margin-top: -185px;
    right: 10%;
    margin-left: -300px; */
}

.contact-form {
    background: white;
    padding: 10px 20px;
    width: 90%;
    margin: auto;
    height: 43%;
    overflow: auto;
    padding-top: 10px;
    position: relative;

}

.contact-info {
    margin-top: 30px !important;
    margin: auto;
    float: left;
    margin-left: 5%;
    margin-top: 7px;
    width: 90%;
}

.contact-info .cen {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.contact-info .ten {
    position: relative;
    top: 20px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sub {
    width: 140px;
    left: 50%;
    margin-left: -70px;
}

.row {
    margin-bottom: 5px !important;
}

.alert {
    padding: 20px;
    background-color: #26a69a;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.hidden {
    display: none
}

.bluInfo {
    display: inline-block;
    width: 90%;
    /* text-align: center; */
}

/* label color */
.input-field label {
    color: #000;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}

/* label underline focus color */
/*.input-field input[type=text]:focus {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}*/

/* valid color */
/*.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}*/

/* invalid color */
/*.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}*/

/* icon prefix focus color */
/*.input-field .prefix.active {
    color: #26a69a;
}*/

.contact-info a {
    color: inherit;
    text-decoration: underline;
}


@media (max-width: 768px) {
    .map-container {
        display: none;
    }

    .contact-container {
        width: 100%;
    }

}


@media (max-width: 320px) {
    .map-container {
        display: none;
    }

    .contact-container {
        width: 100%;
    }

    .contact-container h1{
        font-size: 30px;
    }

    .contact-info span{
        font-size: 10px;
    }

}
