*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #000;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*                  Layout                  */
.section {
  /* height: calc(100vh + 2rem); */
  height: 100vh;
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  will-change: transform;
  backface-visibility: hidden;
  transition: all 1.4s cubic-bezier(0.22, 0.44, 0, 1);
  /* transform: translateY(-2rem); */
  padding: 0;
}

.section.section-intro {
  background-image: url("../images/img-1.jpg");
}

/* Set stacking context of slides */
.section:nth-child(1) { z-index: 2; }

.section .section__content {
  display: flex;
  width: 100%;
  margin: auto;
  height: 100%;
  position: relative;
}

.section .partition {
  width: 100%;
}

.partition .partition__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/*                       Components                       */
#preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preloader svg {
  width: 228px !important;
  height: 228px !important;
}

.intro-particles,
.intro-logo {
  width: 100%;
  height: 100%;
  position: fixed;
}

.intro-particles {
  position: absolute;
  left: 0;
  top: 0;
}

.partition {
  position: relative;
  height: 100%;
}

.partition.partition--right .partition__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.partition .partition__title {
  margin: 0;
  display: inline-block;
  padding: 0 1rem 0 0.125rem;
  border-bottom: 2px solid currentColor;
}

.partition.partition--left {
  padding: 1rem;
}

.partition.partition--left::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.partition.partition--right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100%;
}

/*          Section specific colors             */
/* .section--about .partition--left, */
.section--about .partition--left::before {
  background-color: #FFFF00;
}

/* .section--e2e .partition--left, */
.section--e2e .partition--left::before {
  background-color: #FFEA00;
}

/* .section--work .partition--left, */
.section--work .partition--left::before {
  background-color: #FFD600;
}


.fixed-section {
  position: absolute;
  top: 100vh;
  width: 50vw;
  height: 100vh;
}

.fixed-section .section {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
}

/* individual sections */
.fixed-section .section.section--about {
  right: 2rem;
  z-index: 20;
}

.fixed-section .section--about {
  background-color: #FFFF00;
}

.fixed-section .section.section--e2e {
  z-index: 10;
  right: 1rem;
}

.fixed-section .section--e2e {
  background-color: #FFEA00;
}

.fixed-section .section--work {
  background-color: #FFD600;
}


/************************************ Tabs ************************************/
.tab-element {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  background: url('../../static/images/bg9.png');
}

.tab-buttons {
  display: flex;
  position: relative;
  z-index: 200;
}

.tab-buttons .tab-button {
  width: 100%;
  border: 0;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  background: #555;
  font-size: 1.25rem;
  outline: none;
}

.tab-button:focus, .tab-buttons:focus{
  outline: none !important;
}

.tab-content {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tab-content.active-tab {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
  outline:none;
}

.tab-content .service {
  display: flex;
  flex-direction: column;
  width: 20vw;
  min-width: 130px;
  max-width: 200px;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.tab-button.active-tab {
  background: transparent;
  outline:none;
}

.tab-container {
  flex: 1;
}

.tab-content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  z-index: -1;
}

.tab-content:nth-child(1)::before {
  background-image: url('../../static/images/bg8.png');
}

.tab-content:nth-child(2)::before {
  background-image: url('../../static/images/bg9.png');
}

.service-description{
  font-size: 14px !important;
  margin-bottom: 0;
}

/* Footer responsive */

@media (max-width: 768px) {
  .footer-content, .social-media {
    width: 100% !important;
  }

  .social-media .colm a img {
    width: 36px !important;
    padding: 0 !important;
    margin: 1em 0;
  }
}

